In [ ]:
!pip install pykrx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pykrx
  Downloading pykrx-1.0.42-py3-none-any.whl (127 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 127.5/127.5 kB 3.6 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from pykrx) (2.27.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pykrx) (1.5.3)
Collecting datetime (from pykrx)
  Downloading DateTime-5.1-py3-none-any.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.1/52.1 kB 6.5 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pykrx) (1.22.4)
Requirement already satisfied: xlrd in /usr/local/lib/python3.10/dist-packages (from pykrx) (2.0.1)
Collecting deprecated (from pykrx)
  Downloading Deprecated-1.2.14-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: multipledispatch in /usr/local/lib/python3.10/dist-packages (from pykrx) (0.6.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from pykrx) (3.7.1)
Collecting zope.interface (from datetime->pykrx)
  Downloading zope.interface-6.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (246 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.0/247.0 kB 13.5 MB/s eta 0:00:00
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from datetime->pykrx) (2022.7.1)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.10/dist-packages (from deprecated->pykrx) (1.14.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pykrx) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pykrx) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pykrx) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pykrx) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pykrx) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pykrx) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pykrx) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pykrx) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from multipledispatch->pykrx) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->pykrx) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->pykrx) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->pykrx) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->pykrx) (3.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from zope.interface->datetime->pykrx) (67.7.2)
Installing collected packages: zope.interface, deprecated, datetime, pykrx
Successfully installed datetime-5.1 deprecated-1.2.14 pykrx-1.0.42 zope.interface-6.0

In [ ]:
from pykrx import stock
from pykrx import bond

In [ ]:
# 시가총액, 거래량, 거래대금, 상장주식수
nc = stock.get_market_cap("20230526", "20230526", "036570")
netm = stock.get_market_cap("20230526", "20230526", "251270")
craft = stock.get_market_cap("20230526", "20230526", "259960")
sselec = stock.get_market_cap("20230526", "20230526", "005930")
skhy = stock.get_market_cap("20230526", "20230526", "000660")
dbhy = stock.get_market_cap("20230526", "20230526", "000990")
hcar = stock.get_market_cap("20230526", "20230526", "005380")
hmo = stock.get_market_cap("20230526", "20230526", "012330")
hlmd = stock.get_market_cap("20230526", "20230526", "204320")
kia = stock.get_market_cap("20230526", "20230526", "000270")
lgino = stock.get_market_cap("20230526", "20230526", "011070")
kt = stock.get_market_cap("20230526", "20230526", "030200")
lgen = stock.get_market_cap("20230526", "20230526", "373220")
sssdi = stock.get_market_cap("20230526", "20230526", "006400")
lgchem = stock.get_market_cap("20230526", "20230526", "051910")
skinno = stock.get_market_cap("20230526", "20230526", "096770")

In [ ]:
# 외국인 거래량과 지분율 가져오기
nc1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "036570")
netm1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "251270")
craft1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "259960")
sselec1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "005930")
skhy1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "000660")
dbhy1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "000990")
hcar1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "005380")
hmo1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "012330")
hlmd1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "204320")
kia1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "000270")
lgino1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "011070")
kt1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "030200")
lgen1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "373220")
sssdi1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "006400")
lgchem1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "051910")
skinno1 = stock.get_exhaustion_rates_of_foreign_investment("20230526", "20230526", "096770")

In [ ]:
# 데이터프레임으로 하기 위해서 판다스 이용
import pandas as pd
# 버전 확인
pd.__version__

'1.5.3'

In [ ]:
# 상장주식수가 겹치기 때문에 제거해주기
nc1.drop('상장주식수',axis = 1, inplace = True)
netm1.drop('상장주식수',axis = 1, inplace = True)
craft1.drop('상장주식수',axis = 1, inplace = True)
sselec1.drop('상장주식수',axis = 1, inplace = True)
skhy1.drop('상장주식수',axis = 1, inplace = True)
dbhy1.drop('상장주식수',axis = 1, inplace = True)
hcar1.drop('상장주식수',axis = 1, inplace = True)
hmo1.drop('상장주식수',axis = 1, inplace = True)
hlmd1.drop('상장주식수',axis = 1, inplace = True)
kia1.drop('상장주식수',axis = 1, inplace = True)
lgino1.drop('상장주식수',axis = 1, inplace = True)
kt1.drop('상장주식수',axis = 1, inplace = True)
lgen1.drop('상장주식수',axis = 1, inplace = True)
sssdi1.drop('상장주식수',axis = 1, inplace = True)
lgchem1.drop('상장주식수',axis = 1, inplace = True)
skinno1.drop('상장주식수',axis = 1, inplace = True)

In [ ]:
# 기업들을 하나의 행으로 합쳐주기
nc2 = pd.concat([nc, nc1], axis = 1)
netm2= pd.concat([netm, netm1], axis = 1)
craft2= pd.concat([craft, craft1], axis = 1)
sselec2= pd.concat([sselec, sselec1], axis = 1)
skhy2= pd.concat([skhy, skhy1], axis = 1)
dbhy2= pd.concat([dbhy, dbhy1], axis = 1)
hcar2= pd.concat([hcar, hcar1], axis = 1)
hmo2= pd.concat([hmo, hmo1], axis = 1)
hlmd2= pd.concat([hlmd, hlmd1], axis = 1)
kia2= pd.concat([kia, kia1], axis = 1)
lgino2= pd.concat([lgino, lgino1], axis = 1)
kt2= pd.concat([kt, kt1], axis = 1)
lgen2= pd.concat([lgen, lgen1], axis = 1)
sssdi2= pd.concat([sssdi, sssdi1], axis = 1)
lgchem2= pd.concat([lgchem, lgchem1], axis = 1)
skinno2= pd.concat([skinno, skinno1], axis = 1)

In [ ]:
# 모든 기업들을 하나의 데이터 프레임으로 합치기
result = pd.concat([nc2, netm2, craft2, sselec2,skhy2,dbhy2,hcar2,hmo2,hlmd2,kia2,lgino2,kt2,lgen2,sssdi2,lgchem2,skinno2], axis = 0)

In [ ]:
# 데이터프레임에 기업 코드 넣어주기
result['code'] = ['036570','251270','259960','005930','000660','000990','005380','012330','204320','000270','011070','030200','373220','006400','051910','096770']

In [ ]:
# 인덱스가 날짜이므로 제거해주기
result = result.reset_index(drop=True)

In [ ]:
result

,시가총액,거래량,거래대금,상장주식수,보유수량,지분율,한도수량,한도소진률,code
0,7321666337000,464475,157325267500,21954022,9674368,44.062500,21954022,44.062500,036570
1,4873563563400,165306,9431713400,85953502,19392704,22.562500,85953502,22.562500,251270
2,9118746108000,87391,16314557800,49237290,14835493,30.125000,49237290,30.125000,259960
3,419675713265000,19549511,1370668892150,5969782550,3116542289,52.218750,5969782550,52.218750,005930
4,79497858258000,10136706,1096927604183,728002365,368086146,50.562500,728002365,50.562500,000660
5,2730513162000,2221810,137660302300,44398588,8895126,20.031250,44398588,20.031250,000990
6,43469724483000,596247,121242165000,211531506,67926473,32.125000,211531506,32.125000,005380
7,21402716338000,149084,33698307000,94285094,35160271,37.281250,94285094,37.281250,012330
8,2230463200000,160520,7615604400,46957120,11372488,24.218750,46957120,24.218750,204320
9,35138663342200,848329,73895666900,402044203,150989025,37.562500,402044203,37.562500,000270
10,6839793923000,130463,37900241000,23667107,4954108,20.937500,23667107,20.937500,011070
11,8172799590400,957009,30029728450,261111808,105290046,40.312500,127944786,82.312500,030200
12,135252000000000,113909,65876235000,234000000,12707215,5.429688,234000000,5.429688,373220
13,47653819290000,124561,86846720000,68764530,33935877,49.343750,68764530,49.343750,006400
14,49838194158000,133917,94461654000,70592343,33885901,48.000000,70592343,48.000000,051910
15,16902705099200,312858,57353133200,92465564,22556976,24.406250,92465564,24.406250,096770

In [ ]:
# 실제 사용할 것만 가져오기
result = result[['code','시가총액','거래대금','상장주식수','보유수량','지분율']]
result

      code             시가총액           거래대금       상장주식수        보유수량        지분율
0   036570    7321666337000   157325267500    21954022     9674368  44.062500
1   251270    4873563563400     9431713400    85953502    19392704  22.562500
2   259960    9118746108000    16314557800    49237290    14835493  30.125000
3   005930  419675713265000  1370668892150  5969782550  3116542289  52.218750
4   000660   79497858258000  1096927604183   728002365   368086146  50.562500
5   000990    2730513162000   137660302300    44398588     8895126  20.031250
6   005380   43469724483000   121242165000   211531506    67926473  32.125000
7   012330   21402716338000    33698307000    94285094    35160271  37.281250
8   204320    2230463200000     7615604400    46957120    11372488  24.218750
9   000270   35138663342200    73895666900   402044203   150989025  37.562500
10  011070    6839793923000    37900241000    23667107     4954108  20.937500
11  030200    8172799590400    30029728450   261111808   105290046  40.312500
12  373220  135252000000000    65876235000   234000000    12707215   5.429688
13  006400   47653819290000    86846720000    68764530    33935877  49.343750
14  051910   49838194158000    94461654000    70592343    33885901  48.000000
15  096770   16902705099200    57353133200    92465564    22556976  24.406250

In [ ]:
# 가독성 있게 이름 변경해주기
result = result.rename(columns={'보유수량': '외국인보유수량', '지분율': '외국인지분율'})

In [ ]:
# 내보낼때 지수형태를 없애기위해 문자열 형태로 변경해주기
result = result.astype(str)

In [ ]:
# 엑셀 파일로 내보내기
result.to_excel("./data.xlsx",index = False, encoding='utf-8-sig')

/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)